# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Build output
build/
dist/

# Editor files
.vscode/
.idea/

# Other
*.env*
